# Balancing, Imputing, & Aligning

**Write and execute R code in the code cells per the instructions.  The expected results are provided for you directly following the code cells.**

In [1]:
f = "setup.R"; for (i in 1:10) { if (file.exists(f)) break else f = paste0("../", f) }; source(f)

## Data

Here is a dataset of some daily measurements regarding popularity of some product.

In [17]:
data = data.frame(date=ymd(c("2017-12-30","2017-12-31","2018-01-01","2018-01-02","2018-01-03","2018-01-04",
                             "2018-01-05","2018-01-06","2018-01-07","2018-01-08","2018-01-09","2018-01-10")),
                  x1=c(2.5, 2, 9, 6.5, 8, 4, 4, 10.5, 3, 23, 12, 20),
                  x2=c(9, NA, NA, NA, 2.5, 8.5, 4, 7.5, 3, 23, 12, 20),
                  x3=c(9, 10, 1, 2, 1.5, 10.5, 4, 11, 3, 23, 12, 20))
data

   date       x1   x2   x3
1  2017-12-30  2.5  9.0  9.0
2  2017-12-31  2.0   NA 10.0
3  2018-01-01  9.0   NA  1.0
4  2018-01-02  6.5   NA  2.0
5  2018-01-03  8.0  2.5  1.5
6  2018-01-04  4.0  8.5 10.5
7  2018-01-05  4.0  4.0  4.0
8  2018-01-06 10.5  7.5 11.0
9  2018-01-07  3.0  3.0  3.0
10 2018-01-08 23.0 23.0 23.0
11 2018-01-09 12.0 12.0 12.0
12 2018-01-10 20.0 20.0 20.0

Here is a related dataset of daily revenue generated by each of 2 teams that sell the product.

In [18]:
data.r = data.frame(date=ymd("2017-12-30","2017-12-30","2017-12-31","2017-12-31","2018-01-01","2018-01-01","2018-01-02","2018-01-02",
                             "2018-01-03","2018-01-03","2018-01-04","2018-01-04","2018-01-05","2018-01-05","2018-01-06","2018-01-06",
                             "2018-01-07","2018-01-07","2018-01-08","2018-01-08","2018-01-09","2018-01-09","2018-01-10","2018-01-10"),
                     revenue=c(1000, 1010, 1200, 1150, 805, 806, 790, 795, 800, 810, 803, 801, 800, 795,
                               1000, 1010, 1200, 1150, 815, 806, 800, 791, 802, 815),
                     team=c("A","B"))
data.r

   date       revenue team
1  2017-12-30 1000    A
2  2017-12-30 1010    B
3  2017-12-31 1200    A
4  2017-12-31 1150    B
5  2018-01-01  805    A
6  2018-01-01  806    B
7  2018-01-02  790    A
8  2018-01-02  795    B
9  2018-01-03  800    A
10 2018-01-03  810    B
11 2018-01-04  803    A
12 2018-01-04  801    B
13 2018-01-05  800    A
14 2018-01-05  795    B
15 2018-01-06 1000    A
16 2018-01-06 1010    B
17 2018-01-07 1200    A
18 2018-01-07 1150    B
19 2018-01-08  815    A
20 2018-01-08  806    B
21 2018-01-09  800    A
22 2018-01-09  791    B
23 2018-01-10  802    A
24 2018-01-10  815    B

## Problem 1

Add synthetic variables for day of the week (categorical) and weekend (TRUE/FALSE).  Arrange the variables such that the synthetic variables appear second and third.  Show the revised table.

You may want to use these function(s):

* weekdays()

To synthesize the weekend variable, just assign a new column to a criterion.

In [37]:
new = cbind(date=data[, 1], dow=weekdays(data$date), data[, 2:4])
new

   date       dow       x1   x2   x3
1  2017-12-30 Saturday   2.5  9.0  9.0
2  2017-12-31 Sunday     2.0   NA 10.0
3  2018-01-01 Monday     9.0   NA  1.0
4  2018-01-02 Tuesday    6.5   NA  2.0
5  2018-01-03 Wednesday  8.0  2.5  1.5
6  2018-01-04 Thursday   4.0  8.5 10.5
7  2018-01-05 Friday     4.0  4.0  4.0
8  2018-01-06 Saturday  10.5  7.5 11.0
9  2018-01-07 Sunday     3.0  3.0  3.0
10 2018-01-08 Monday    23.0 23.0 23.0
11 2018-01-09 Tuesday   12.0 12.0 12.0
12 2018-01-10 Wednesday 20.0 20.0 20.0

In [41]:
new$weekend = factor(new$dow == "Saturday" | new$dow == "Sunday", levels=c(TRUE, FALSE), labels=c("TRUE", "FALSE"))
new

   date       dow       x1   x2   x3   weekend
1  2017-12-30 Saturday   2.5  9.0  9.0 TRUE
2  2017-12-31 Sunday     2.0   NA 10.0 TRUE
3  2018-01-01 Monday     9.0   NA  1.0 FALSE
4  2018-01-02 Tuesday    6.5   NA  2.0 FALSE
5  2018-01-03 Wednesday  8.0  2.5  1.5 FALSE
6  2018-01-04 Thursday   4.0  8.5 10.5 FALSE
7  2018-01-05 Friday     4.0  4.0  4.0 FALSE
8  2018-01-06 Saturday  10.5  7.5 11.0 TRUE
9  2018-01-07 Sunday     3.0  3.0  3.0 TRUE
10 2018-01-08 Monday    23.0 23.0 23.0 FALSE
11 2018-01-09 Tuesday   12.0 12.0 12.0 FALSE
12 2018-01-10 Wednesday 20.0 20.0 20.0 FALSE

In [43]:
final = cbind(new[, 1:2], weekend=new[, 6],new[, 3:5])
final

   date       dow       weekend x1   x2   x3
1  2017-12-30 Saturday  TRUE     2.5  9.0  9.0
2  2017-12-31 Sunday    TRUE     2.0   NA 10.0
3  2018-01-01 Monday    FALSE    9.0   NA  1.0
4  2018-01-02 Tuesday   FALSE    6.5   NA  2.0
5  2018-01-03 Wednesday FALSE    8.0  2.5  1.5
6  2018-01-04 Thursday  FALSE    4.0  8.5 10.5
7  2018-01-05 Friday    FALSE    4.0  4.0  4.0
8  2018-01-06 Saturday  TRUE    10.5  7.5 11.0
9  2018-01-07 Sunday    TRUE     3.0  3.0  3.0
10 2018-01-08 Monday    FALSE   23.0 23.0 23.0
11 2018-01-09 Tuesday   FALSE   12.0 12.0 12.0
12 2018-01-10 Wednesday FALSE   20.0 20.0 20.0

## Problem 2

Next, impute the missing values by linear interpolation - use index-based selection to specify the observations needed for your calculations.  Show the revised table.

In [47]:
gap = final$x2[5]-final$x2[1]
step_size= gap / 4

imputed_value.1= final$x2[1] + step_size
imputed_value.2= final$x2[1] + 2*step_size
imputed_value.3= final$x2[1] + 3*step_size

fixed_gaps_final = final
fixed_gaps_final$x2[2]=imputed_value.1
fixed_gaps_final$x2[3]=imputed_value.2
fixed_gaps_final$x2[4]=imputed_value.3

fixed_gaps_final

   date       dow       weekend x1   x2     x3
1  2017-12-30 Saturday  TRUE     2.5  9.000  9.0
2  2017-12-31 Sunday    TRUE     2.0  7.375 10.0
3  2018-01-01 Monday    FALSE    9.0  5.750  1.0
4  2018-01-02 Tuesday   FALSE    6.5  4.125  2.0
5  2018-01-03 Wednesday FALSE    8.0  2.500  1.5
6  2018-01-04 Thursday  FALSE    4.0  8.500 10.5
7  2018-01-05 Friday    FALSE    4.0  4.000  4.0
8  2018-01-06 Saturday  TRUE    10.5  7.500 11.0
9  2018-01-07 Sunday    TRUE     3.0  3.000  3.0
10 2018-01-08 Monday    FALSE   23.0 23.000 23.0
11 2018-01-09 Tuesday   FALSE   12.0 12.000 12.0
12 2018-01-10 Wednesday FALSE   20.0 20.000 20.0

## Problem 3

Next, align the 2 datasets by contraction.  Each resulting observation should reflect the sum of revenues for the day.  Show the revised table.

In [53]:
fixed_gaps_final$step = 1:nrow(fixed_gaps_final)
fixed_gaps_final
data.r$step = sort(rep(1:nrow(fixed_gaps_final), 2))
data.r
data.r.aggregated = aggregate(revenue ~ step, data.r, sum)
data.r.aggregated

   date       dow       weekend x1   x2     x3   step
1  2017-12-30 Saturday  TRUE     2.5  9.000  9.0  1
2  2017-12-31 Sunday    TRUE     2.0  7.375 10.0  2
3  2018-01-01 Monday    FALSE    9.0  5.750  1.0  3
4  2018-01-02 Tuesday   FALSE    6.5  4.125  2.0  4
5  2018-01-03 Wednesday FALSE    8.0  2.500  1.5  5
6  2018-01-04 Thursday  FALSE    4.0  8.500 10.5  6
7  2018-01-05 Friday    FALSE    4.0  4.000  4.0  7
8  2018-01-06 Saturday  TRUE    10.5  7.500 11.0  8
9  2018-01-07 Sunday    TRUE     3.0  3.000  3.0  9
10 2018-01-08 Monday    FALSE   23.0 23.000 23.0 10
11 2018-01-09 Tuesday   FALSE   12.0 12.000 12.0 11
12 2018-01-10 Wednesday FALSE   20.0 20.000 20.0 12

   date       revenue team step
1  2017-12-30 1000    A     1
2  2017-12-30 1010    B     1
3  2017-12-31 1200    A     2
4  2017-12-31 1150    B     2
5  2018-01-01  805    A     3
6  2018-01-01  806    B     3
7  2018-01-02  790    A     4
8  2018-01-02  795    B     4
9  2018-01-03  800    A     5
10 2018-01-03  810    B     5
11 2018-01-04  803    A     6
12 2018-01-04  801    B     6
13 2018-01-05  800    A     7
14 2018-01-05  795    B     7
15 2018-01-06 1000    A     8
16 2018-01-06 1010    B     8
17 2018-01-07 1200    A     9
18 2018-01-07 1150    B     9
19 2018-01-08  815    A    10
20 2018-01-08  806    B    10
21 2018-01-09  800    A    11
22 2018-01-09  791    B    11
23 2018-01-10  802    A    12
24 2018-01-10  815    B    12

   step revenue
1   1   2010
2   2   2350
3   3   1611
4   4   1585
5   5   1610
6   6   1604
7   7   1595
8   8   2010
9   9   2350
10 10   1621
11 11   1591
12 12   1617

In [60]:
final.yep = merge(fixed_gaps_final, data.r.aggregated, by='step')[,-1]
final.yop = cbind(step=1:nrow(final.yep), final.yep)
final.yop

   step date       dow       weekend x1   x2     x3   revenue
1   1   2017-12-30 Saturday  TRUE     2.5  9.000  9.0 2010
2   2   2017-12-31 Sunday    TRUE     2.0  7.375 10.0 2350
3   3   2018-01-01 Monday    FALSE    9.0  5.750  1.0 1611
4   4   2018-01-02 Tuesday   FALSE    6.5  4.125  2.0 1585
5   5   2018-01-03 Wednesday FALSE    8.0  2.500  1.5 1610
6   6   2018-01-04 Thursday  FALSE    4.0  8.500 10.5 1604
7   7   2018-01-05 Friday    FALSE    4.0  4.000  4.0 1595
8   8   2018-01-06 Saturday  TRUE    10.5  7.500 11.0 2010
9   9   2018-01-07 Sunday    TRUE     3.0  3.000  3.0 2350
10 10   2018-01-08 Monday    FALSE   23.0 23.000 23.0 1621
11 11   2018-01-09 Tuesday   FALSE   12.0 12.000 12.0 1591
12 12   2018-01-10 Wednesday FALSE   20.0 20.000 20.0 1617

## Problem 4

Next, balance the data by duplicating weekend observations.  Remove the `step` variable, if present.  Show the number of weekday observations and the number of weekend observations.  Show the resulting table.

In [62]:
final.yop
which(final.yop$weekend=="TRUE")
rep(which(final.yop$weekend=="TRUE"), 1)
c(1:nrow(final.yop), rep(which(final.yop$weekend=="TRUE"), 1))

   step date       dow       weekend x1   x2     x3   revenue
1   1   2017-12-30 Saturday  TRUE     2.5  9.000  9.0 2010
2   2   2017-12-31 Sunday    TRUE     2.0  7.375 10.0 2350
3   3   2018-01-01 Monday    FALSE    9.0  5.750  1.0 1611
4   4   2018-01-02 Tuesday   FALSE    6.5  4.125  2.0 1585
5   5   2018-01-03 Wednesday FALSE    8.0  2.500  1.5 1610
6   6   2018-01-04 Thursday  FALSE    4.0  8.500 10.5 1604
7   7   2018-01-05 Friday    FALSE    4.0  4.000  4.0 1595
8   8   2018-01-06 Saturday  TRUE    10.5  7.500 11.0 2010
9   9   2018-01-07 Sunday    TRUE     3.0  3.000  3.0 2350
10 10   2018-01-08 Monday    FALSE   23.0 23.000 23.0 1621
11 11   2018-01-09 Tuesday   FALSE   12.0 12.000 12.0 1591
12 12   2018-01-10 Wednesday FALSE   20.0 20.000 20.0 1617

[1] 1 2 8 9

[1] 1 2 8 9 1 2 8 9

 [1]  1  2  3  4  5  6  7  8  9 10 11 12  1  2  8  9  1  2  8  9

In [66]:
final.yup = final.yop[c(1:nrow(final.yop), rep(which(final.yop$weekend=="TRUE"), 1)),]

data.frame(number_of_weekday_observations=length(which(final.yup$weekend=="FALSE")), 
           number_of_weekend_observations=length(which(final.yup$weekend=="TRUE")))

final.yup

  number_of_weekday_observations number_of_weekend_observations
1 8                              8

    step date       dow       weekend x1   x2     x3   revenue
1    1   2017-12-30 Saturday  TRUE     2.5  9.000  9.0 2010
2    2   2017-12-31 Sunday    TRUE     2.0  7.375 10.0 2350
3    3   2018-01-01 Monday    FALSE    9.0  5.750  1.0 1611
4    4   2018-01-02 Tuesday   FALSE    6.5  4.125  2.0 1585
5    5   2018-01-03 Wednesday FALSE    8.0  2.500  1.5 1610
6    6   2018-01-04 Thursday  FALSE    4.0  8.500 10.5 1604
7    7   2018-01-05 Friday    FALSE    4.0  4.000  4.0 1595
8    8   2018-01-06 Saturday  TRUE    10.5  7.500 11.0 2010
9    9   2018-01-07 Sunday    TRUE     3.0  3.000  3.0 2350
10  10   2018-01-08 Monday    FALSE   23.0 23.000 23.0 1621
11  11   2018-01-09 Tuesday   FALSE   12.0 12.000 12.0 1591
12  12   2018-01-10 Wednesday FALSE   20.0 20.000 20.0 1617
1.1  1   2017-12-30 Saturday  TRUE     2.5  9.000  9.0 2010
2.1  2   2017-12-31 Sunday    TRUE     2.0  7.375 10.0 2350
8.1  8   2018-01-06 Saturday  TRUE    10.5  7.500 11.0 2010
9.1  9   2018-01-07 Sunday    TRUE     3.0  3.000  3.0 2350

<font size=1;>
<p style="text-align: left;">
Copyright (c) Berkeley Data Analytics Group, LLC
<span style="float: right;">
Document revised February 14, 2020
</span>
</p>
</font>